.width-60 {
  width: 100px;
}
.width-70 {
  width: 100px;
}
.width-80 {
  width: 100px;
}
.width-90 {
  width: 100px;
}
.width-100 {
  width: 100px;
}
.width-110 {
  width: 110px;
}
.width-120 {
  width: 120px;
}
.width-130 {
  width: 130px;
}
.width-140 {
  width: 140px;
}
.width-150 {
  width: 150px;
}
.width-160 {
  width: 160px;
}
.width-170 {
  width: 170px;
}

.rotate-caret {
  animation-name: rotate-caret;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
}

@keyframes rotate-caret {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(0.5turn);
  }
}

.fade-in {
  animation: fade-in 1s ease-in;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
